* {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 1em;
}

.login-link {
  text-align: center;
  color: #259b24;
  text-decoration: none;
}

md-dialog.md-default-theme, md-dialog {
  background-color: transparent;
  box-shadow: none;
  overflow: hidden;
}

.md-button {
  text-transform: none;
}

.content-padding {
  padding: 0px 10px 0px 10px;
}

.no-margin {
  margin: 0;
}

.no-line-height {
  line-height: 0px
}

.green-bg {
  background-color: #9bd358;
}

.darkturquoise-bg {
  background-color: #06d2b4;
}

.pink-bg {
  background-color: #ffcbcc;
}

.red-bg {
  background-color: #d63f42;
}
