* {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 1em;
}

.login-link {
  text-align: center;
  color: #259b24;
  text-decoration: none;
}

md-dialog.md-default-theme, md-dialog {
  background-color: transparent;
  box-shadow: none;
  overflow: hidden;
}
